$primary: #725AC1
$secondary: #8D86C9
$background: #242038
$background-alt: #262240
$foreground: #F7ECE1
$hard-to-read: #302644

@mixin for-phone-only
  @media (max-width: 599px)
    @content
@mixin for-tablet-portrait-up
  @media (min-width: 600px)
    @content
@mixin for-tablet-landscape-up
  @media (min-width: 900px)
    @content
@mixin for-desktop-up
  @media (min-width: 1200px)
    @content
@mixin for-big-desktop-up
  @media (min-width: 1800px)
    @content

::selection
  background-color: $primary
  color: $foreground

a
  color: $primary

  &:hover
    color: $secondary

.secondary
  color: $secondary

.hard-to-read
  color: $hard-to-read

body
  margin: 0px
  height: 100vh

  font-family: "IBM Plex Mono"

  color: $foreground

  background-color: $background

.navbar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: baseline

  background-color: $background-alt
  border: 3px solid $secondary
  border-radius: 15px

  padding: 15px
  margin-top: 15px

  div
    display: flex

  .nav-item
    
    color: #0000

    text-shadow: 0px 0px $foreground
    transition: .3s

    text-decoration: none

    &:hover
      text-shadow: 0px -5px $secondary

  .nav-left
    align-self: flex-start

  .nav-right
    align-self: flex-end

    .nav-item
      @include for-phone-only
        margin-left: 10px

      @include for-tablet-portrait-up
        margin-left: 20px

.container
  margin-top: 20px
  margin-bottom: 20px

  flex-direction: column

  max-width: 1200px


  // @include for-tablet-landscape-up
  //   margin-left: 15%
  //   margin-right: 15%

  margin: auto

  @media (max-width: 1300px)
    margin-left: 30px
    margin-right: 30px

.hello
  display: flex
  justify-content: center

  line-height: 60px

  margin-top: 75px
  margin-bottom: 100px

  @include for-phone-only
    margin-top: 25px
    margin-bottom: 100px


.card-container
  display: flex
  gap: 30px

  flex-wrap: wrap

  justify-content: space-between

  .card
    background-color: $background-alt

    @include for-tablet-landscape-up
      max-width: calc(50% - 50px)

    padding: 15px

    border: 3px solid $secondary
    border-radius: 15px

    .card-title
      margin-top: 0px
      margin-bottom: 15px

    .card-content
      margin-bottom: 0px

    .card-link
      margin-bottom: 30px

form
  background-color: $background-alt

  display: flex
  flex-direction: column

  padding: 15px

  border: 3px solid $secondary
  border-radius: 15px

  label
    margin-bottom: 15px
    font-size: 25px

  input, textarea
    color: $foreground
    background-color: $background-alt

    font-family: "IBM Plex Mono"
    font-size: 16px

    padding: 7px
    margin-bottom: 15px

    border: 1px solid $secondary
    border-radius: 15px

    width: 90%

  button
    width: 90px

    color: $foreground
    background-color: $background-alt
    font-family: "IBM Plex Mono"
    font-size: 16px
    padding: 7px
    border: 1px solid $secondary
    border-radius: 15px

    transition: .2s

    &:hover
      background-color: $secondary

