<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Noah Beach</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="nav-left">
        <div><a class="nav-item" href="/"><strong>Noah Beach</strong></a></div>
      </div>
      <div class="nav-right">
        <div><a class="nav-item" href="/about">About</a></div>
        <div><a class="nav-item" href="/contact">Contact</a></div>
      </div>
    </div>

    {% block content %} {% endblock %}

  </div>
</body>
</html>
