{% extends "base.html" %}

{% block content %}

<h1>Contact me</h1>

<form action="https://formspree.io/f/xbjbqjwo" method="POST">
  <label>
    Full Name
  </label>
  <input type="text" name="name" required>
  <label>
    Email Address
  </label>
  <input type="email" name="email" required>
  <label>
    Message
  </label>
  <textarea name="message" required></textarea>
  <button type="submit">Submit</button>
</form>
{% endblock content %}
