{% extends "base.html" %}

{% block content %}

<div class="hello">
  <h1>Hello!<br>I'm <span class="secondary"><u>Noah Beach</u></span><br>a software developer and massive Rush fan<br><span class="hard-to-read">(and a terrible website designer)</span></h1>
</div>

<h1>Projects:</h1>
<div class="card-container">
  <div class="card">
    <h2 class="card-title">
      Twitter clone
    </h2>
    <a class="card-link" href="https://gitlab.com/noahwbeach/twitter-clone">Source code</a>
    <p class="card-content">
      A Twitter clone using a REST api built with Rust (axum) and Svelte for the frontend.
    </p>
  </div>
  <div class="card">
    <h2 class="card-title">
      Portfolio (this site) 
    </h2>
    <a class="card-link" href="https://gitlab.com/noahwbeach/noahwbeach.gitlab.io">Source code</a>
    <p class="card-content">
      A portfolio website built with HTML, Sass, and Zola for SSG. Hosted on GitLab Pages.
    </p>
  </div>
  <div class="card">
    <h2 class="card-title">
      A third project
    </h2>
    <p class="card-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed.
    </p>
  </div>
  <div class="card">
    <h2 class="card-title">
      A fourth project
    </h2>
    <p class="card-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed.
    </p>
  </div>
</div>

{% endblock content %}
